[connectivity]
# Define 4 instâncias (Compute Units) do kernel krnl_mult
nk=krnl_mult:4:krnl_mult_1.krnl_mult_2.krnl_mult_3.krnl_mult_4

# Mapeia as portas AXI da Instância 1 para os bancos HBM 0 e 1
sp=krnl_mult_1.m_axi_gmem0:HBM[0]
sp=krnl_mult_1.m_axi_gmem1:HBM[1]

# Mapeia as portas AXI da Instância 2 para os bancos HBM 2 e 3
sp=krnl_mult_2.m_axi_gmem0:HBM[2]
sp=krnl_mult_2.m_axi_gmem1:HBM[3]

# Mapeia as portas AXI da Instância 3 para os bancos HBM 4 e 5
sp=krnl_mult_3.m_axi_gmem0:HBM[4]
sp=krnl_mult_3.m_axi_gmem1:HBM[5]

# Mapeia as portas AXI da Instância 4 para os bancos HBM 6 e 7
sp=krnl_mult_4.m_axi_gmem0:HBM[6]
sp=krnl_mult_4.m_axi_gmem1:HBM[7]

[profile]
# Habilita o profiling para vermos a performance real depois da execução
data=all:all:all